<%-include("partials/header") -%>
<h1>Compose</h1>
<form class="" action="/compose" method="post">
  <div class="form-group">
    <label for="title">Title</label>
    <input class="form-control" type="text" name="newTitle" id="title">
    <label for="postInfo">Post</label>
    <textarea class="form-control" name="newPost" id="postInfo" rows="8" cols="80"></textarea>
  </div>
      <button  class="btn btn-primary" type="submit" name="submitPost">Publish</button>
  </form>
<%- include("partials/footer") -%>
